# Table Generator

In [1]:
number = int(input('Enter a number for table '))
for i in range(1 , 11):
    print(f'{number} * {i} = {number * i} ')

Enter a number for table  12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120